<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../bootstrap-4.4.1-dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" href="main.css">
</head>
<body>

<h3>Оповещения</h3>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary fade show">
                <h4>Оповещения чего-либо</h4>
                <p>Учитывая ключевые сценарии поведения, базовый вектор развития влечет за собой процесс внедрения и модернизации своевременного выполнения сверхзадачи. Как уже неоднократно упомянуто, явные признаки победы институционализации объявлены нарушающими общечеловеческие нормы этики и морали. Вот вам яркий пример современных тенденций - реализация намеченных плановых заданий является качественно новой ступенью укрепления моральных ценностей.</p>
                <hr>
                <p>Не следует, однако, забывать, что социально-экономическое развитие требует анализа экономической целесообразности принимаемых решений.</p>
            </div>
            <div class="alert alert-secondary">
                Это второе оповещение. <a href="#" class="alert-link">alert-check</a>.
                <button type="button" data-dismiss="alert" class="close"><span>&times;</span></button>
            </div>
            <div class="alert alert-success">
                Успешное выполнение...
            </div>
            <div class="alert alert-warning">
                Сообщение о предупреждении...
            </div>
            <div class="alert alert-info">
                Информационное сообщение...
            </div>
            <div class="alert alert-light">
                Какое-то светлое сообщение...
            </div>
            <div class="alert alert-dark">
                Какое-то темное сообщение...
            </div>
        </div>
    </div>
</div>

<h3>Icons</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            Прародителем текста-рыбы является <span class="badge badge-primary">известный</span> "Lorem Ipsum" –
            латинский текст, ноги <span class="badge badge-secondary">которого</span> растут аж из 45 года до нашей эры.
            Сервисов по созданию случайного текста на
            основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток: их "рыба текст"
            подходит лишь для англоязычных ресурсов/проектов. Мы же, фактически, предлагаем Lorem Ipsum на русском
            языке – вы можете использовать полученный <span class="badge badge-success">здесь контент</span> абсолютно
            бесплатно и в любых целях, не запрещённых законодательством. Однако в случае, если сгенерированный здесь
            текст используется в коммерческом или публичном проекте, ссылка на наш сервис обязательна.
        </div>
        <button type="button" class="btn btn-primary">
            Уведомления <span class="badge badge-light">2</span>
        </button>

        <div class="col">
            <a href="#" class="badge badge-pill badge-primary">primary</a>
            <a href="#" class="badge badge-pill badge-secondary">secondary</a>
            <a href="#" class="badge badge-pill badge-success">success</a>
            <span class="badge badge-pill badge-danger">danger</span>
            <span class="badge badge-warning">warning</span>
            <span class="badge badge-info">info</span>
            <span class="badge badge-light">light</span>
            <span class="badge badge-dark">dark</span>
        </div>
    </div>
</div>

<h3>Хлебы кроши</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">IVKHK</a></li>
                <li class="breadcrumb-item"><a href="#">Courses</a></li>
                <li class="breadcrumb-item"><a href="#">Bootstrap 4</a></li>
                <li class="breadcrumb-item active"><a href="#">Lesosn 3 (Components)</a></li>
            </ul>
        </div>
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">IVKHK</a></li>
                <li class="breadcrumb-item"><a href="#">Courses</a></li>
                <li class="breadcrumb-item"><a href="#">Bootstrap 4</a></li>
                <li class="breadcrumb-item active"><a href="#">Lesosn 3 (Components)</a></li>
            </ul>
        </div>
    </div>cha
</div>

<h3>Cards</h3>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card name</h5>
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white">
                <img class="card-img" src="redkie-zhivotnie-krasniy-volk.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title-">Card name</h5>
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h5>Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card Name</h5>
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <img src="rys.jpg" class="card-img-bottom" alt="card image cap">
            </div>
        </div>
        <div class="col-3">
            <div class="card text-right">
                <div class="card-header">
                    <h5 class="card-title">Citation</h5>
                </div>
                <div class="card-body">
                    <blockquote>
                        <p>Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                        <div class="blockquote-footer">sometext <cite>Author</cite></div>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-primary text-white">
                <div class="card-header">
                    <h5>Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-danger text-white">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-success text-white">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-warning text-white">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center border-success">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>


        <div class="card-group">
            <div class="card text-center">
                <div class="card-header border-danger">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>

            <div class="card text-center border-info">
                <div class="card-header border-info">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body border-info">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer border-info">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Buttons and groups of buttons</h3>
<div class="container">
    <div class="row">
        <div class="col-12">

            <button type="button" class="btn btn-block active btn-lg btn-primary">primary</button>
            <button type="button" class="btn btn-block active btn-lg btn-secondary">secondary</button>
            <button type="button" class="btn btn-block active btn-lg btn-success">success</button>
            <button type="button" class="btn btn-block active btn-lg btn-danger">danger</button>
            <button type="button" class="btn btn-block active btn-lg btn-warning">warning</button>
            <button type="button" class="btn btn-block active btn-lg btn-info">info</button>
            <button type="button" class="btn btn-block active btn-lg btn-light">light</button>
            <button type="button" class="btn btn-block active btn-lg btn-dark">dark</button>

        </div>
        <div class="col-12">

            <button type="button" class="btn btn-sm btn-outline-primary">primary</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">secondary</button>
            <button type="button" class="btn btn-sm btn-outline-success">success</button>
            <button type="button" class="btn btn-sm btn-outline-danger">danger</button>
            <button type="button" class="btn btn-lg btn-outline-warning">warning</button>
            <button type="button" class="btn btn-lg btn-outline-info">info</button>
            <button type="button" class="btn btn-lg btn-outline-light">light</button>
            <button type="button" class="btn btn-lg btn-outline-dark">dark</button>

            <input type="submit" class="btn btn-lg btn-outline-dark" value="submit">
            <input type="reset" class="btn btn-lg btn-outline-dark" value="reset">
            <input type="button" class="btn btn-lg btn-outline-dark" value="button">

        </div>

        <div class="col-12">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success btn-group-toggle">
                    <input type="checkbox">Checked
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success active">
                    <input type="radio" name="option" id="option1" autocomplete="off" checked>Checked
                </label>
                <label class="btn btn-outline-success">
                    <input type="radio" name="option" id="option2" autocomplete="off">Checked
                </label>
                <label class="btn btn-outline-success">
                    <input type="radio" name="option" id="option3" autocomplete="off">Checked
                </label>
            </div>
        </div>

        <div class="col-12">




        </div>









    </div>
</div>

</body>
</html>