<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link rel="stylesheet" href="main.css">
</head>
<body>

<h3>Оповещения</h3>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-primary fade show">
                <h4>Оповещения чего-либо</h4>
                <p>Учитывая ключевые сценарии поведения, базовый вектор развития влечет за собой процесс внедрения и модернизации своевременного выполнения сверхзадачи. Как уже неоднократно упомянуто, явные признаки победы институционализации объявлены нарушающими общечеловеческие нормы этики и морали. Вот вам яркий пример современных тенденций - реализация намеченных плановых заданий является качественно новой ступенью укрепления моральных ценностей.</p>
                <hr>
                <p>Не следует, однако, забывать, что социально-экономическое развитие требует анализа экономической целесообразности принимаемых решений.</p>
            </div>
            <div class="alert alert-secondary">
                Это второе оповещение. <a href="#" class="alert-link">alert-check</a>.
                <button type="button" data-dismiss="alert" class="close"><span>&times;</span></button>
            </div>
            <div class="alert alert-success">
                Успешное выполнение...
            </div>
            <div class="alert alert-warning">
                Сообщение о предупреждении...
            </div>
            <div class="alert alert-info">
                Информационное сообщение...
            </div>
            <div class="alert alert-light">
                Какое-то светлое сообщение...
            </div>
            <div class="alert alert-dark">
                Какое-то темное сообщение...
            </div>
        </div>
    </div>
</div>

<h3>Icons</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            Прародителем текста-рыбы является <span class="badge badge-primary">известный</span> "Lorem Ipsum" –
            латинский текст, ноги <span class="badge badge-secondary">которого</span> растут аж из 45 года до нашей эры.
            Сервисов по созданию случайного текста на
            основе Lorem Ipsum великое множество, однако все они имеют один существенный недостаток: их "рыба текст"
            подходит лишь для англоязычных ресурсов/проектов. Мы же, фактически, предлагаем Lorem Ipsum на русском
            языке – вы можете использовать полученный <span class="badge badge-success">здесь контент</span> абсолютно
            бесплатно и в любых целях, не запрещённых законодательством. Однако в случае, если сгенерированный здесь
            текст используется в коммерческом или публичном проекте, ссылка на наш сервис обязательна.
        </div>
        <button type="button" class="btn btn-primary">
            Уведомления <span class="badge badge-light">2</span>
        </button>

        <div class="col">
            <a href="#" class="badge badge-pill badge-primary">primary</a>
            <a href="#" class="badge badge-pill badge-secondary">secondary</a>
            <a href="#" class="badge badge-pill badge-success">success</a>
            <span class="badge badge-pill badge-danger">danger</span>
            <span class="badge badge-warning">warning</span>
            <span class="badge badge-info">info</span>
            <span class="badge badge-light">light</span>
            <span class="badge badge-dark">dark</span>
        </div>
    </div>
</div>

<h3>Хлебы кроши</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">IVKHK</a></li>
                <li class="breadcrumb-item"><a href="#">Courses</a></li>
                <li class="breadcrumb-item"><a href="#">Bootstrap 4</a></li>
                <li class="breadcrumb-item active"><a href="#">Lesosn 3 (Components)</a></li>
            </ul>
        </div>
        <div class="col-12">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">IVKHK</a></li>
                <li class="breadcrumb-item"><a href="#">Courses</a></li>
                <li class="breadcrumb-item"><a href="#">Bootstrap 4</a></li>
                <li class="breadcrumb-item active"><a href="#">Lesosn 3 (Components)</a></li>
            </ul>
        </div>
    </div>cha
</div>

<h3>Cards</h3>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <img class="card-img-top" src="1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card name</h5>
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white">
                <img class="card-img" src="redkie-zhivotnie-krasniy-volk.jpg" alt="Card image cap">
                <div class="card-img-overlay">
                    <h5 class="card-title-">Card name</h5>
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h5>Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card Name</h5>
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <img src="rys.jpg" class="card-img-bottom" alt="card image cap">
            </div>
        </div>
        <div class="col-3">
            <div class="card text-right">
                <div class="card-header">
                    <h5 class="card-title">Citation</h5>
                </div>
                <div class="card-body">
                    <blockquote>
                        <p>Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                        <div class="blockquote-footer">sometext <cite>Author</cite></div>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-primary text-white">
                <div class="card-header">
                    <h5>Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-danger text-white">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-success text-white">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-warning text-white">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center border-success">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>


        <div class="card-group">
            <div class="card text-center">
                <div class="card-header border-danger">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>

            <div class="card text-center border-info">
                <div class="card-header border-info">
                    <h5 class="card-title">Card name</h5>
                </div>
                <div class="card-body border-info">
                    <p class="card-text">Генерация рыбатекста происходит довольно просто: есть несколько фиксированных
                        наборов фраз и словочетаний, из которых в опредёленном порядке формируются предложения.
                        Предложения складываются в абзацы – и вы наслаждетесь очередным бредошедевром.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer border-info">
                    <h5 class="card-title">Footer</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Buttons and groups of buttons</h3>
<div class="container">
    <div class="row">
        <div class="col-12">

            <button type="button" class="btn btn-block active btn-lg btn-primary">primary</button>
            <button type="button" class="btn btn-block active btn-lg btn-secondary">secondary</button>
            <button type="button" class="btn btn-block active btn-lg btn-success">success</button>
            <button type="button" class="btn btn-block active btn-lg btn-danger">danger</button>
            <button type="button" class="btn btn-block active btn-lg btn-warning">warning</button>
            <button type="button" class="btn btn-block active btn-lg btn-info">info</button>
            <button type="button" class="btn btn-block active btn-lg btn-light">light</button>
            <button type="button" class="btn btn-block active btn-lg btn-dark">dark</button>

        </div>
        <div class="col-12">

            <button type="button" class="btn btn-sm btn-outline-primary">primary</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">secondary</button>
            <button type="button" class="btn btn-sm btn-outline-success">success</button>
            <button type="button" class="btn btn-sm btn-outline-danger">danger</button>
            <button type="button" class="btn btn-lg btn-outline-warning">warning</button>
            <button type="button" class="btn btn-lg btn-outline-info">info</button>
            <button type="button" class="btn btn-lg btn-outline-light">light</button>
            <button type="button" class="btn btn-lg btn-outline-dark">dark</button>

            <input type="submit" class="btn btn-lg btn-outline-dark" value="submit">
            <input type="reset" class="btn btn-lg btn-outline-dark" value="reset">
            <input type="button" class="btn btn-lg btn-outline-dark" value="button">

        </div>

        <div class="col-12">
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success btn-group-toggle">
                    <input type="checkbox">Checked
                </label>
            </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-success active">
                    <input type="radio" name="option" id="option1" autocomplete="off" checked>Checked
                </label>
                <label class="btn btn-outline-success">
                    <input type="radio" name="option" id="option2" autocomplete="off">Checked
                </label>
                <label class="btn btn-outline-success">
                    <input type="radio" name="option" id="option3" autocomplete="off">Checked
                </label>
            </div>
        </div>

        <div class="col-12">
            <div class="btn-group-toggle" data-toggle="buttons">
                <button type="button" class="btn btn-outline-success">Success</button>
                <button type="button" class="btn btn-outline-danger">danger</button>
                <button type="button" class="btn btn-outline-warning">warning</button>
                <button type="button" class="btn btn-outline-info">info</button>
            </div>
            <div class="btn-toolbar">
                <div class="btn-group-vertical btn-group-lg btn-group-toggle mr-2" data-toggle="buttons">
                    <button type="button" class="btn btn-success">1 Success</button>
                    <button type="button" class="btn btn-danger">2 danger</button>
                    <button type="button" class="btn btn-warning">3 warning</button>
                    <button type="button" class="btn btn-info">4 info</button>
                </div>
                <div class="btn-group btn-group-toggle mr-2" data-toggle="buttons">
                    <button type="button" class="btn btn-success">1 Success</button>
                    <button type="button" class="btn btn-danger">2 danger</button>
                    <button type="button" class="btn btn-warning">3 warning</button>
                </div>
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    <button type="button" class="btn btn-success">1 Success</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Dropdown lists</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="dropdown btn-group">
                <button class="btn btn-info" type="button">Dropdown list</button>
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <h6 class="dropdown-header">Menu name</h6>
                    <a class="dropdown-item" href="#">Menu</a>
                    <a class="dropdown-item disabled" href="#">Menu</a>
                    <a class="dropdown-item" href="#">Menu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Menu</a>
                    <a class="dropdown-item" href="#">Menu</a>
                </div>
            </div>

            <div class="dropdown btn-group">
                <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown"></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
                    <h6 class="dropdown-header">Menu name</h6>
                    <a class="dropdown-item" href="#">Menu</a>
                    <a class="dropdown-item disabled" href="#">Menu</a>
                    <a class="dropdown-item" href="#">Menu</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Menu</a>
                    <a class="dropdown-item" href="#">Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Form pagination</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-group row">
                    <label class="col-3" for="exampleInputEmail">Email address</label>
                    <input type="email" class="form-control col-9" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Email address">
                    <small id="emailHelp" class="col-9 offset-3">We will never share your email address with somebody else.</small>
                </div>
                <div class="form-group row">
                    <label class="col-3" for="exampleInputPassword">Email address</label>
                    <input type="password" class="form-control col-9" id="exampleInputPassword" placeholder="Password">
                </div>

                <div class="form-group">
                    <label for="exampleFormControlSelect">Select example</label>
                    <select class="form-control" id="exampleFormControlSelect">
                        <option>1111111</option>
                        <option>2222222</option>
                        <option>3333333</option>
                        <option>4444444</option>
                        <option>5555555</option>
                    </select>
                </div>

                <div class="form-row">

                    <div class="form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" disabled>
                        <label class="form-check-label" for="exampleCheck1">One</label>
                    </div>
                    <div class="form-check-inline">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2" disabled>
                        <label class="form-check-label" for="exampleCheck1">Two</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>

<h3>Input groups</h3>
<div class="container">
    <div class="row">
        <div class="col-12">

        <form>

            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email address" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <button type="button" class="btn btn-primary">Our button</button>
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Our DD-button</button>
                    <div class="dropdown-menu">
                        <div class="dropdown-item">Menu 1</div>
                        <div class="dropdown-item">Menu 2</div>
                        <div class="dropdown-item">Menu 3</div>
                        <div class="dropdown-item">Menu 4</div>
                    </div>
                </div>
            </div>

            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">@example.com</span>
                </div>
            </div>

            <div class="input-group mb-3">

                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" aria-label="Checkbox for following text input">
                    </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with checkbox">

            </div>

            <div class="input-group mb-3">

                <div class="input-group-prepend">
                    <div class="input-group-text">
                        Something there
                    </div>
                </div>
                <input type="text" class="form-control">
                <input type="text" class="form-control">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>

        </div>
    </div>
</div>

<h3>Navigation, navbars</h3>
<div class="container">
    <div class="row">
        <div class="col-12">

            <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">

                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav">

                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>

                    </ul>

                    <form class="form-inline ml-auto">
                        <input class="form-control" type="search" placeholder="Search">
                        <button class="btn btn-outline-success" type="submit">Do search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <nav class="nav flex-column nav-pills">
                        <a class="nav-item nav-link active" id="nav1-1" data-toggle="tab" aria-controls="tab1-1" href="#tab1-1">Active</a>
                        <a class="nav-item nav-link" id="nav1-2" data-toggle="tab" aria-controls="tab1-2" href="#tab1-2">Link</a>
                        <a class="nav-item nav-link" id="nav1-3" data-toggle="tab" aria-controls="tab1-3" href="#tab1-3">Link</a>
                    </nav>
                </div>
                <div class="col-9">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab1-1" aria-labelledby="nav1-1">Connect to a Linux system with OpenSSH and PuTTY secure shells</div>
                        <div class="tab-pane fade" id="tab1-2" aria-labelledby="nav1-2">List files and directories, and move around within the file system</div>
                        <div class="tab-pane fade" id="tab1-3" aria-labelledby="nav1-3">Safely inspect the file contents without changing them</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">

            <ul class="nav nav-fill nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" id="nav2-1" data-toggle="tab" aria-controls="tab2-1" href="#tab2-1">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav2-2" data-toggle="tab" aria-controls="tab2-2" href="#tab2-2">LInk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav2-3" data-toggle="tab" aria-controls="tab2-3" href="#tab2-3">LInk</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab2-1" aria-labelledby="nav2-1">Discover and learn one of the most reliable and easy-to-use Operating Systems around! Do you want an excellent Operating System and be able to use it for FREE?</div>
                <div class="tab-pane fade" id="tab2-2" aria-labelledby="nav2-2">Come on, you’re close on the right path of discovering and experiencing it! If you are in need of a fast, reliable, secured, flexible, easy to use and understand, and most importantly, it is a compatible software to all devices; here it is, the Linux Operating System.</div>
                <div class="tab-pane fade" id="tab2-3" aria-labelledby="nav2-3">Linux is one of the most reliable Operating System (OS), a fast way to use different applications, and it’s FREE to use and download. That makes this Operating System stand out with the others.</div>
            </div>

        </div>

    </div>

</div>

<h3>Tooltips</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <button style="margin-left: 300px;" type="button" class="btn btn-lg btn-danger" data-placement="bottom"
                    data-toggle="tooltip" title="Name popover"
                    data-content="And here's some amazing content. It's very engaging. Right?">
                Click to toggle popover.
            </button>
            <span class="" data-toggle="tooltip" title="Name popover" data-content="Disabled popover">
                <button class="btn btn-primary" type="button">Disabled button</button>
            </span>

        </div>
    </div>
</div>


<h3>Progress bar</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="progress mb-2" style="height: 30px;">
                <div class="progress-bar bg-warning progress-bar-striped" style="width: 45%;">45%</div>
            </div>
            <div class="progress mb-2" style="height: 50px;">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 10%">10%</div>
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 20%">20%</div>
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 45%">45%</div>
            </div>
            <div class="progress mb-2">
                <div class="progress-bar bg-success progress-bar-striped" style="width: 20%;">20%</div>
            </div>
            <div class="progress" style="height: 155px;">
                <div class="progress-bar progress-bar-striped" style="width: 85%;">85%</div>
            </div>

        </div>
    </div>
</div>

<h3>Scrolling</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav id="navbar-example2" class="navbar navbar-light bg-light">
                <a class="navbar navbar-brand" href="#">Navbar</a>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#fat">@fat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mdo">@mdo</a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Droprown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#one">one</a>
                            <a class="dropdown-item" href="#two">two</a>
                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#three">three</a>
                        </div>
                    </li>
                </ul>
            </nav>
            <div data-spy="scroll" data-target="#navbar-example2" style="position: relative; height: 400px; overflow: auto;">
                <h4 id="fat">@fat</h4>
                <p> Товарищи! начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! дальнейшее развитие различных форм деятельности способствует подготовки и реализации модели развития. Не следует, однако забывать, что реализация намеченных плановых заданий позволяет оценить значение систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров способствует подготовки и реализации форм развития. Таким образом новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.
                    С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки модели развития. Товарищи! постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Таким образом начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Повседневная практика показывает, что реализация намеченных плановых заданий способствует подготовки и реализации дальнейших направлений развития. Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют определения и уточнения новых предложений. Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание существенных финансовых и административных условий. </p>
                <h4 id="mdo">@mdo</h4>
                <p> Задача организации, в особенности же дальнейшее развитие различных форм деятельности способствует подготовки и реализации форм развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры играет важную роль в формировании дальнейших направлений развития.
                    Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Равным образом сложившаяся структура организации позволяет оценить значение модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Не следует, однако забывать, что рамки и место обучения кадров играет важную роль в формировании новых предложений. </p>
                <h4 id="one">@one</h4>
                <p> С другой стороны реализация намеченных плановых заданий в значительной степени обуславливает создание форм развития. Задача организации, в особенности же рамки и место обучения кадров требуют определения и уточнения дальнейших направлений развития. Равным образом начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки модели развития. Товарищи! постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке форм развития. Задача организации, в особенности же начало повседневной работы по формированию позиции играет важную роль в формировании новых предложений. Идейные соображения высшего порядка, а также консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.
                    Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют определения и уточнения существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что сложившаяся структура организации позволяет выполнять важные задания по разработке соответствующий условий активизации. Равным образом реализация намеченных плановых заданий требуют определения и уточнения дальнейших направлений развития. Таким образом сложившаяся структура организации в значительной степени обуславливает создание существенных финансовых и административных условий. Повседневная практика показывает, что консультация с широким активом способствует подготовки и реализации дальнейших направлений развития. Разнообразный и богатый опыт сложившаяся структура организации позволяет оценить значение системы обучения кадров, соответствует насущным потребностям. </p>
                <h4 id="two">@two</h4>
                <p> Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности требуют от нас анализа новых предложений. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации. Повседневная практика показывает, что начало повседневной работы по формированию позиции способствует подготовки и реализации систем массового участия. Равным образом консультация с широким активом требуют определения и уточнения модели развития. Не следует, однако забывать, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации систем массового участия.
                    Равным образом консультация с широким активом позволяет выполнять важные задания по разработке соответствующий условий активизации. Разнообразный и богатый опыт реализация намеченных плановых заданий играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач. </p>
                <h4 id="three">@three</h4>
                <p> Товарищи! начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки форм развития. Товарищи! начало повседневной работы по формированию позиции в значительной степени обуславливает создание новых предложений. Товарищи! начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке систем массового участия. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет выполнять важные задания по разработке новых предложений.
                    С другой стороны дальнейшее развитие различных форм деятельности требуют определения и уточнения новых предложений. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития. Не следует, однако забывать, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Товарищи! дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации форм развития. </p>
            </div>
        </div>
    </div>
</div>

<h3>Adapted video</h3>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/T-TYyGL9Qjb" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Card Name</h5>
                </div>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/T-TYyGL9Qjb" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <p class="card-text">Far far away...</p>
                    <a href="#" class="btn btn-primary">Somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center bg-warning text-white">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/T-TYyGL9Qjb" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="main.js"></script>


</body>
</html>